.contact {
  padding: 117px 0 78px;
}
.contact__form {
  width: 540px;
}
.contact__form-block {
  height: 60px;
  margin-bottom: 24px;
}
.contact__form-input-text {
  height: 100%;
  width: 225px;
  border-radius: 6px;
  padding: 0 31px;
  color: rgba(19, 39, 67, 0.5);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}