.hero {
  background: url("../img/hero/Bg.png") top left/100% 100% no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}
.hero__content-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero__content-description {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  text-align: center;
  color: #FFFFFF;
  margin: 39px 0 39px 0;
}
.hero__content-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ED4C5C;
  padding: 17px 52px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.hero__content-button:hover {
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}